@model FileSharingApp.Models.AddPasswordViewModel
@inject IViewLocalizer localizerPassword

<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:0;">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h1>@localizerPassword["Title"]</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form method="post" class="mu-contact-form" asp-action="AddPassword" asp-controller="Account">
                                        
                                        <div class="form-group">
                                            <span class="fa fa-envelope mu-contact-icon"></span>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="@localizerPassword["Password"]" required>
                                            <span asp-validation-for="Password"></span>
                                        </div>

                                        <button type="submit" class="mu-send-msg-btn"><span>@localizerPassword["SaveChanges"]</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </div>
</section>

