@model List<AdminUserViewModel> 
@{
    ViewData["Title"] = "User List";
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary" asp-action="ExportToExcel" asp-controller="User" asp-area="Admin"> Export to Excel</a>
                    <a class="btn btn-primary" asp-action="Users" asp-controller="Reports" asp-area="Admin"> Export to Pdf</a>

                </div>
                <div class="col-md-8 offset-md-2">
                    <form asp-action="Search" asp-controller="User" asp-area="Admin">
                        <div class="input-group">
                            <input name="Term" type="search" class="form-control form-control-lg" placeholder="Type your keywords here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="row">
                @foreach (var item in Model)
                {
                    <partial name="_UserCard" model="item" />

                }
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
                <ul class="pagination justify-content-center m-0">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                </ul>
            </nav>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
